/*------------------Profile Form------------------*/

.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: atransitionll 0.15s ease-in;
    z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password],
.floated-label-wrapper label input[type=tel] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
}

.floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
}

#profile-form {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.contact-form {

}

.remove_field {
    
}

.remove_field:hover {
    background-color: red;
    transition: all 0.15s ease 0s;

}

.remove-button {
    
}