/*------------------Mobile Navbar------------------*/

.offcanvas-full-screen {
    position: fixed;
    z-index: 1;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #0a0a0a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow-y: auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen {
    outline: 0;
}

.offcanvas-full-screen.is-transition-overlap {
    z-index: 10;
}

.offcanvas-full-screen.is-transition-overlap.is-open {
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
}

.offcanvas-full-screen.is-open {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.offcanvas-full-screen.is-open~.off-canvas-content {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.offcanvas-full-screen.is-transition-push::after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
    content: " ";
}

.offcanvas-full-screen.is-transition-overlap.is-open~.off-canvas-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.offcanvas-full-screen-inner {
    padding: 1rem;
    text-align: center;
}

.offcanvas-full-screen-menu {
    margin: 0;
    list-style-type: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.offcanvas-full-screen-menu>li {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

[data-whatinput='mouse'] .offcanvas-full-screen-menu>li {
    outline: 0;
}

.offcanvas-full-screen-menu>li>a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1;
}

.offcanvas-full-screen-menu input,
.offcanvas-full-screen-menu select,
.offcanvas-full-screen-menu a,
.offcanvas-full-screen-menu button {
    margin-bottom: 0;
}

.offcanvas-full-screen-menu>li {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.offcanvas-full-screen-menu>li>a {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.offcanvas-full-screen-menu a {
    color: #fefefe;
}

.offcanvas-full-screen-menu a:hover {
    color: #b2b2b2;
}

.offcanvas-full-screen-close {
    color: #fefefe;
    font-size: 5rem;
}

.offcanvas-full-screen-close:hover {
    color: #b2b2b2;
}

/*------------------Pulse Button------------------*/


.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #115b8d;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}
